.sidebar{
  width:25%;
  float:left;
  background-color:#00918b;
  color:#ea9123;
  border:2px solid #7a1e99;
  padding:10px;
  margin:15px;
}

.image1{
  float:right;
  padding:20px;
}

.image2{
  float:right;
  padding:20px;
}
